.main {
    width: 100%;
    background: url(../../../public/nav_back.png);
    background-position: right;
}

.head {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 240px;
    padding: 50px 0 30px 0;
}


.head h1 {
    font-weight: 400;
    font-size: 40px;
    margin: 0 auto;
}

.head p {
    margin: -50px auto 0 auto;
}

.body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: fit-content;
    padding: 70px 0 50px 0;
    overflow: auto;
}

.body h2 {
    margin: 10px 0;
    font-size: 30px;
    font-weight: 500;
}

.news {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.newsBlock {
    cursor: pointer;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 15px;
}

.newsBlock div {
    padding: 15px 15px 20px 15px;
}

.newsBlock img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.newsBlock p {
    font-size: 1em;
    line-height: 1.5;
}

.newsBlock h4 {
    font-size: 1.3em;
    font-weight: bold;
    margin-bottom: 5px;
}

.about {
    height: 130px;
}