.body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 430px;
}

.body input {
    padding: 10px;
    width: 100%;
    border: 1px solid black;
}

.modalContent {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 850px;
    height: fit-content;
    display: flex;
    flex-direction: column;
}

.modalContent button {
    background-color: #E9ECF1;
    border-radius: 10px;
    width: 175px;
    height: 40px;
    border: none;
    font-weight: 700;
    transition: 0.3s;
    font-family: "Century Gothic";
    line-height: 17px;
}

.modalContent button:hover {
    background: #33599A;
    color: white;
}

.body textarea {
    border: 1px solid black;
    width: 100%;
    height: 50px;
    max-height: 100px;
    padding: 10px;
    resize: vertical;
}

.body div {
    display: flex;
    align-items: center;
}

.body label {
    display: inline-block;
    font-size: 20px;
    width: 320px;
}

.body div {
    width: 800px;
}

.save {
    margin: 0 auto !important;
}