.main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 2100px;
    padding: 100px 0;
}

.block {
    display: flex;
    align-items: center;
    justify-content: center;
}

.smallBlock {
    flex-direction: column;
}

.main h2 {
    font-size: 36px;
    font-weight: 400;
    margin: 20px 0 -200px 0;
}

.main textarea {
    resize: none;
    padding: 10px 0 10px 5px;
    width: 100%;
    height: 50px;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #D9D9D9;
    border: none;
    padding: 20px;
    width: 280px;
    font-size: 16px;
    margin-top: 10px;
}

.btn svg {
    margin-left: 10px;
}

.smallBlock div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    width: 380px;
    background-color: #E9ECF1;
    cursor: pointer;
}

.smallBlock p {
    width: 350px;
    font-size: 24px;
    color: #33599A;
    font-weight: 500;
}


.all {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #25252E;
    color: white;
    padding: 10px;
    height: 60px;
    width: 260px;
    font-size: 16px;
    text-transform: uppercase;
    margin: -220px auto 0 auto;
}

.all svg {
    margin-left: 5px;
}

.all:hover {
    background-color: #33599A;
}

.mainText {
    display: flex;
}

.text {
    display: flex;
    align-items: center;
    padding: 50px;
    background-color: #E9ECF1;
    font-size: 30px;
}

.comments {
    border: 1px solid black;
    padding: 20px;
    overflow: auto;
    max-height: 330px;
}

.comment {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100px;
}

.comment h4 {
    font-size: 20px;
}

.comment p {
    font-size: 18px;
}

.comment div {
    display: flex;
    justify-content: space-between;
}

.vacansies {
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.vacansies button {
    background-color: black;
    color: white;
}

.activeFilter {
    background-color: white !important;
}

.main h2 {
    margin: 20px 0;
}