.main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 2700px;
    padding: 100px 0 200px 0;
}

.block div {
    background: url(../../public/block_back.png);
}

.block,
.smallBlock,
.smallBlock2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.block h4 {
    font-size: 24px;
    font-weight: 400;
}

.block h3 {
    font-size: 32px;
    font-weight: 400;
}

.block p {
    font-size: 18px;
}

.block button {
    width: 100px;
    padding: 10px;
    border: none;
    background-color: #33599A;
    color: white;
}

.main h2 {
    font-size: 36px;
    font-weight: 400;
    text-transform: uppercase;
    margin: 20px 0 -30px 0;
}

.block div {
    margin: 2px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    height: 300px;
    width: 640px;
    background-color: #D9D9D9;
    color: #25252E;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E9ECF1;
    border: none;
    padding: 20px;
    width: 250px;
    text-transform: uppercase;
    margin: 0 auto;
    font-size: 16px;
}

.btn svg {
    margin-left: 10px;
}

.btn path {
    transition: 0.2s;
}

.btn:hover {
    color: white;
    background-color: #33599A;
}

.btn:hover path {
    stroke: white;
}

.smallBlock div,
.smallBlock2 div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 240px;
    width: 660px;
    border: none;
    margin: 2px;
    background: #E9ECF1;
}

.smallBlock p {
    text-align: center;
    width: 350px;
    font-size: 32px;
}

.smallBlock2 p {
    width: 250px;
    text-align: center;
    font-size: 20px;
}

.smallBlock span {
    font-size: 36px;
    display: block;
    color: #FF474D;
    font-weight: 500;
}

.smallBlock2 img {
    width: 100%;
    height: 100%;
}

.smallBlock2 div {
    height: 400px;
}

@media (max-width: 520px) {

    .block h4 {
        font-size: 13px;
    }

    .block h3 {
        font-weight: 900;
        font-size: 16px;
        font-weight: 400;
    }

    .btn {
        height: 20px;
        width: 200px;
    }

    .main h2 {
        font-size: 30px;
        margin: 0;
        text-align: center;
    }

    .smallBlock div {
        width: 170px;
        padding: 10px;
    }

    .smallBlock2 div {
        height: 160px;
        width: 100px;
    }


    .smallBlock span {
        font-size: 40px;
    }

    .smallBlock2 p {
        font-size: 12px;
    }

    .smallBlock p {
        font-size: 14px;
    }

}