.main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 2100px;
    padding: 90px 0;
}

.block {
    display: flex;
    align-items: center;
    justify-content: center;
}

.smallBlock {
    flex-direction: column;
}

.block h4 {
    font-size: 18px;
    font-weight: 400;
}

.block h3 {
    font-size: 24px;
    font-weight: 400;
}

.block p {
    font-size: 18px;
}

.block button {
    width: 100px;
    padding: 10px;
    border: none;
}

.main h2 {
    font-size: 36px;
    font-weight: 400;
    text-transform: uppercase;
    margin: 20px 0 -200px 0;
}

.block div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 20px;
    height: 300px;
    width: 540px;
    background-color: #E9ECF1;
    margin: 5px;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #D9D9D9;
    border: none;
    padding: 20px;
    width: 280px;
    margin: 0 auto;
    font-size: 16px;
}

.btn svg {
    margin-left: 10px;
}

.smallBlock div {
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    width: 380px;
    color: #33599A;
    background-color: #E9ECF1;
    cursor: pointer;
}

.smallBlock p {
    width: 350px;
    font-size: 24px;
}

.mainText {
    display: flex;
}

.text {
    display: flex;
    align-items: center;
    padding: 60px;
    background-color: #E9ECF1;
    font-size: 30px;
    justify-content: center;
    color: #25252E;
}

.activeFilter {
    background-color: white !important;
}

.blocks {
    margin-top: 100px;
}

.block h4 {
    margin: 0px 20px;
    margin-bottom: 100px;
}

.block h3 {
    color: #33599A;
    margin: 0px 20px;
    font-weight: 500;
    margin-top: 100px;
}

.block img {
    width: 100%;
    height: 100%;
}

.block div {
    padding: 0;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.fix {
    margin-bottom: -85px !important;
}

@media (max-width: 720px) {
    .main h2 {
        margin: 0;
        text-align: center;
    }

    .block h3 {
        font-size: 30px;
        margin-top: 20px;
    }

    .block h4 {
        font-size: 20px;
    }

    .block {
        flex-direction: column-reverse;
    }

    .block div {
        width: 390px;
        height: 300px;
    }
}