.main {
    width: 100%;
    background-color: #D9D9D9;
}

.sect {
    display: flex;
    justify-content: space-between;
    height: 550px;
    align-items: center;
}

.sect video {
    width: 500px;
    height: 500px;
}

.sect div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 400px;
}

.sect h2 {
    font-size: 36px;
    font-weight: 400;
    width: 800px;
}

.sect p {
    width: 700px;
    font-size: 24px;
}

.sect a {
    font-size: 32px;
    color: gray;
}