.main {
    width: 100%;
    background: url(../../../public/nav_back.png);
    background-position: right;
}

.head {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 240px;
    padding: 80px 0;
}

.head h1 {
    font-weight: 400;
    font-size: 40px;
    margin: 0 auto;
}

.body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 1700px;
    padding: 100px 0;
}

.body h2 {
    margin: 10px 0;
    font-size: 30px;
    font-weight: 500;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #D9D9D9;
    border: none;
    padding: 20px;
    width: 280px;
    font-size: 16px;
    margin-top: 10px;
}

.search {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
}

.search input {
    width: 380px;
    height: 30px;
    font-size: 16px;
    padding: 15px;
    border: 1px solid black;
}

.dropbtn {
    padding: 16px;
    font-size: 16px;
    background-color: white !important;
    border: none;
    display: flex;
}

.dropdown {
    display: inline;
    position: relative;
}

.dropContent {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 190px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropContent p {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}


.dropContent p:hover {
    cursor: pointer;
    background-color: #ddd;
}

.dropdown:hover .dropContent {
    display: block;
}

.btns {
    display: flex;
    align-items: center;
}

.btns button {
    width: 240px;
    height: 63px;
    font-size: 24px;
    background-color: white;
    border: 1px solid black;
}

.all {
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;
    color: white;
    padding: 10px;
    height: 60px;
    width: 260px;
    font-size: 16px;
}

.all svg {
    margin-left: 5px;
}