[Unit]
Description=LCT 2024 Passport Microservice

[Service]
Restart=always
RestartSec=1
WorkingDirectory=/home/art/projects/lct-2024/backend
ExecStart=/home/art/projects/lct-2024/backend/passport/roswell/passport
Environment=SLYNK_PORT=9411
Environment=APP_PORT=10111
Environment=APP_INTERFACE=localhost

[Install]
WantedBy=default.target
