.main {
    width: 100%;
    background: url(../../../public/nav_back.png);
    background-position: right;
}

.head {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 240px;
    padding: 80px 0;
}

.head h1 {
    font-weight: 400;
    font-size: 40px;
    margin: 0 auto;
}

.body,
.body2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 1600px;
    padding: 100px 0;
}

.body2 {
    height: 800px;
}

.body h2 {
    font-weight: 500;
    font-size: 30px;
    margin: 10px 0;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #D9D9D9;
    border: none;
    padding: 20px;
    width: 280px;
    font-size: 16px;
    margin-top: 10px;
}

.search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
}

.search input {
    width: 100%;
    height: 30px;
    font-size: 16px;
    padding: 15px;
    border: 1px solid black;
}

.search button {
    background-color: black;
    padding: 15.5px;
}

.search button:hover {
    border: 2px solid #FF474D;
    background-color: #FF474D;
}

.btns {
    display: flex;
    align-items: center;
}

.btns button {
    width: 240px;
    height: 63px;
    font-size: 24px;
    background-color: white;
    border: 1px solid black;
}

.all {
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;
    color: white;
    padding: 10px;
    height: 60px;
    width: 260px;
    font-size: 16px;
}

.all svg {
    margin-left: 5px;
}

.filter {
    display: flex;
    align-items: center;
}

.filter p {
    border: 1px solid #25252E;
    min-width: 112px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    height: 40px;
    cursor: pointer;
    transition: 0.3s;
    font-size: 16px;
}

.filter p:hover {
    color: white;
    background-color: #33599A;
}

.activeFilter {
    color: white;
    font-size: 18px;
    background-color: #25252E !important;
}